html, body {
    overflow: hidden;
}

main {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_card {
    border: 2px solid #cad3f5;
    max-width: 600px;
    flex-basis: 50%;
    padding: 3em;
}

.personal_card h1 {
    font-size: 3rem; 
}