html {
    height: 100vh;
    margin: 0%;
}

body {
    background-color: #1e2030;
    color: #cad3f5;
    font-family: monospace;

    height: 100%;   
    margin: 0;

    font-size: 18px;
    letter-spacing: 0.05rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {

    color: #cad3f5;
}

    a:visited {
        color: #cad3f5;
    }
    a:hover {
        color: #c6a0f6;
        background-color: #1e2030;
    }
    a:active {
        color: #f0c6c6;
    }

header {
    text-align: left;
    height: 10%;
    padding: 0.5rem;
}

main {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_card {
    border: 2px solid #cad3f5;
    max-width: 600px;
    flex-basis: 50%;
    padding: 3em;
}

.personal_card h1 {
    font-size: 3rem; 
}

footer {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5rem;
}
.contact_info {
    margin: 0;
    padding: 0;
}

.contact_info {
    height: 15%;
    width: 100%;
    text-align: right;
    vertical-align: bottom;

}


