html {
    height: 100vh;
}

body {
    background-color: #1e2030;
    color: #cad3f5;
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 2em;
    margin: 0px;
    height: 100%;
}

main {
    background-color: #181926;
    padding: 1em;
    height: 100%;
}

@media (min-width: 800px){
    main {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

h1 {
    text-align: center;
    font-size: 2.4em;
    margin: 0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

p {
    font-size: 1.4em;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0px;
    justify-content: center;
    align-content: center;
    font-size: 1em;
    width: 100%;
}

.contact-info div {
    flex: 1;
    text-align: center;
    white-space: nowrap;
}

.contact-info p {
    text-align: center;
    white-space: nowrap;
}

.contact-info a{
    line-height: 1.2rem;
    padding-left: 1em;
    padding-right: 1em;
    flex: 1;
    white-space: nowrap;
}

#github {
    font-size: 1.4em;
    line-height: 3.2em;
    text-align: center;
    color: #cad3f5;
}

    #github:visited {
        color: #cad3f5;
    }
    #github:hover {
        color: #c6a0f6;
        background-color: #1e2030;
    }
    #github:active {
        color: #f0c6c6;
    }

h2 {
    font-size: 1.8em;
}

section {
    margin: 1em;
}

section ul {
    font-size: 1.4em;
    list-style: none;
}

.section_parent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}
.section_content {
    flex: 3;
}

.section_date {
    flex: 1;
    text-wrap: nowrap;
    padding-left: 3em;
}

@media (max-width: 500px) {
    .section_parent {
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }

    .section_date {
        padding-left: 0em;
    }
}

.section_list {
    font-size: 1rem;
    list-style: circle;
}
